.Activities {
  position: relative;
  background-color: #fdfffc;
  padding: 3.5rem 0;

  &__title {
    text-align: center;
    color: #011627;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
  }

  &__list {
    position: relative;
    margin: 0 auto;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      border: 2px solid #e71d36;
      border-radius: 16px;
      z-index: 0;

      @media (max-width: 768px) {
        left: 0;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    width: 50%;
    padding: 1.25rem 2rem 1.25rem 0;

    &:nth-child(even) {
      margin-left: auto;
      justify-content: flex-end;
      padding: 1.25rem 0 1.25rem 2rem;

      @media (max-width: 768px) {
        justify-content: flex-start;
        margin-left: 0;
        padding: 0;
      }
    }

    &:first-child::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -14px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ff9f1c;
      border: 6px solid #ffffff;
      z-index: 2;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -26px;
      }
    }

    &:nth-child(2)::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -11px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ff9f1c;
      border: 6px solid #ffffff;
      z-index: 2;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -26px;
      }
    }

    &:nth-child(3)::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -14px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ff9f1c;
      border: 6px solid #ffffff;
      z-index: 2;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -26px;
      }
    }

    &:nth-child(4)::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -11px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ff9f1c;
      border: 6px solid #ffffff;
      z-index: 2;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -26px;
      }
    }

    &:nth-child(5)::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -14px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ff9f1c;
      border: 6px solid #ffffff;
      z-index: 2;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -26px;
      }
    }

    &:nth-child(6)::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -11px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ff9f1c;
      border: 6px solid #ffffff;
      z-index: 2;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -26px;
      }
    }

    &:nth-child(7)::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -14px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ff9f1c;
      border: 6px solid #ffffff;
      z-index: 2;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -26px;
      }
    }

    &:nth-child(8)::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -11px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ff9f1c;
      border: 6px solid #ffffff;
      z-index: 2;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -26px;
      }
    }

    &:nth-child(8)::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -14px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ff9f1c;
      border: 6px solid #ffffff;
      z-index: 2;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -26px;
      }
    }

    &:nth-child(9)::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -14px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ff9f1c;
      border: 6px solid #ffffff;
      z-index: 2;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -26px;
      }
    }

    &:nth-child(10)::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -11px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #ff9f1c;
      border: 6px solid #ffffff;
      z-index: 2;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        left: -26px;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 1.25rem 0 1.25rem 2rem !important;
    }

    @media (max-width: 576px) {
      width: 100%;
      padding: 1.25rem 0 1.25rem 1rem !important;
    }
  }
}
