@import '../Variables/variables';

.input {
  display: block;
  width: 100%;
  padding: 0.6125rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #51596c;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.3125rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    border: 1px solid $primary__color;
    box-shadow: 0 0px 0 4px rgba(41, 187, 137, 0.2);
  }

  &::placeholder {
    color: #bdbdbd;
    font-size: 1rem;
    font-weight: 400;
  }

  &:disabled {
    cursor: not-allowed;
    border: 1px solid #bdbdbd;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
    -webkit-text-fill-color: #333 !important;
  }

  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset !important; /*your box-shadow*/
    -webkit-text-fill-color: #333 !important;
  }
}
