.Cover {
  padding: 2rem 0;

  &__title {
    text-align: center;
    color: #222429;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0.75rem;
    line-height: 1.25;

    @media (max-width: 575px) {
      font-size: 2rem;
    }
  }

  &__text {
    text-align: center;
    color: #979797;
    max-width: 600px;
    line-height: 1.5;
    margin: 0 auto;
  }

  &__main {
    padding: 4rem 0 2.5rem;

    .Cover__container {
      max-width: 1100px;
      margin: 0 auto;
    }

    @media (max-width: 767px) {
      padding: 2.5rem 0;
    }
  }
}
