.Home__carousel {
  margin-left: 18rem;
  margin-top: -1.75rem;
  position: relative;
  overflow: hidden;

  .Home-inner {
    display: flex;
  }

  .Home-item {
    min-height: 320px;
    min-width: 320px;
    padding: 0 1rem;
  }
}

.Home {
  padding: 12rem 0;

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;

    &-box {
      flex: 1;

      .Home__box-author {
        color: #e9ecef;
        position: absolute;
        font-size: 5rem;
        top: -32px;
        left: -24px;
        z-index: -1;
      }

      .Home__box-title {
        font-size: 5rem;
        color: #212529;
      }
    }
  }
}
