.HeroStoria {
  position: relative;
  height: 100vh;
  background-color: #e4e7d0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    max-width: 1548px;
    margin: 0 auto;
    padding: 0 3rem;

    .HeroStoria__header {
      padding: 1rem 0;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;

      &-icon {
        color: #010001;
        font-size: 22px;
      }

      &-text {
        color: #010001;
        font-weight: 400;
        cursor: pointer;
      }
    }

    .HeroStoria__row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      & > * {
        margin-top: 1.5rem;
      }

      & > *:first-child {
        padding-left: 0;

        @media (max-width: 991px) {
          padding: 0;
        }
      }

      & > *:last-child {
        padding-right: 0;

        @media (max-width: 991px) {
          padding: 0;
        }
      }

      .HeroStoria__title {
        line-height: 1.2;
        color: #010001;
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 1.5rem;

        @media (max-width: 991px) {
          text-align: center;
        }

        @media (max-width: 575px) {
          font-size: 2rem;
        }
      }

      .HeroStoria__text {
        color: #010001;
        line-height: 1.5;
        margin-bottom: 2rem;
        font-weight: 400;
        font-size: 1rem;

        @media (max-width: 991px) {
          text-align: center;
        }

        @media (max-width: 575px) {
          font-size: 1rem;
        }
      }

      .HeroStoria__btnContainer {
        display: flex;
        justify-content: flex-start;

        &-btn {
          font-weight: 400;
          line-height: 1.5;
          cursor: pointer;
          outline: none;
          padding: 0.5rem 1rem;
          font-size: 1.25rem;
          border-radius: 0.3rem;
          background-color: #403324;
          border: 1px solid #403324;
          color: #ffffff;

          .HeroStoria__btn-link {
            display: flex;
            align-items: center;
          }

          .HeroStoria__btn-icon {
            margin-right: 0.5rem;
          }

          &:hover {
            background-color: transparent;
            color: #403324;
          }
        }

        @media (max-width: 991px) {
          justify-content: center;
        }
      }

      @media (max-width: 991px) {
        justify-content: center;
      }
    }

    @media (max-width: 991px) {
      height: auto;
      padding: 5rem 3rem 4rem;
    }

    @media (max-width: 767px) {
      padding: 5rem 1rem 4rem;
    }

    @media (max-width: 575px) {
      padding: 3rem 1rem 2rem;
    }
  }

  @media (max-width: 991px) {
    height: auto;
  }
}
