.Slide1 {
  width: 100%;
  transition: all 600ms;

  &__list {
    display: flex;

    .Slide1__item {
      display: flex;
      height: 320px;
      margin-bottom: 1rem;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
}
