$margin: (
  'm-0': 0,
  'm-1': 0.25rem,
  'm-2': 0.5rem,
  'm-3': 0.75rem,
  'm-4': 1rem,
  'm-5': 1.25rem,
  'm-6': 1.5rem,
  'm-7': 1.75rem,
  'm-8': 2rem,
  'm-9': 2.25rem,
  'm-10': 2.5rem,
  'm-11': 2.75rem,
  'm-12': 3rem,
  'm-13': 3.25rem,
  'm-14': 3.5rem,
  'm-15': 3.75rem,
  'm-16': 4rem,
  'm-17': 4.25rem,
  'm-18': 4.5rem,
  'm-19': 4.75rem,
  'm-20': 5rem,
);

/* margin x */
$marginX: (
  'mx-auto': auto,
  'mx-0': 0,
  'mx-1': 0.25rem,
  'mx-2': 0.5rem,
  'mx-3': 0.75rem,
  'mx-4': 1rem,
  'mx-5': 1.25rem,
  'mx-6': 1.5rem,
  'mx-7': 1.75rem,
  'mx-8': 2rem,
  'mx-9': 2.25rem,
  'mx-10': 2.5rem,
  'mx-11': 2.75rem,
  'mx-12': 3rem,
  'mx-13': 3.25rem,
  'mx-14': 3.5rem,
  'mx-15': 3.75rem,
  'mx-16': 4rem,
  'mx-17': 4.25rem,
  'mx-18': 4.5rem,
  'mx-19': 4.75rem,
  'mx-20': 5rem,
);

/* margin y */
$marginY: (
  'my-0': 0,
  'my-1': 0.25rem,
  'my-2': 0.5rem,
  'my-3': 0.75rem,
  'my-4': 1rem,
  'my-5': 1.25rem,
  'my-6': 1.5rem,
  'my-7': 1.75rem,
  'my-8': 2rem,
  'my-9': 2.25rem,
  'my-10': 2.5rem,
  'my-11': 2.75rem,
  'my-12': 3rem,
  'my-13': 3.25rem,
  'my-14': 3.5rem,
  'my-15': 3.75rem,
  'my-16': 4rem,
  'my-17': 4.25rem,
  'my-18': 4.5rem,
  'my-19': 4.75rem,
  'my-20': 5rem,
);

/* margin t */
$marginT: (
  'mt-0': 0,
  'mt-1': 0.25rem,
  'mt-2': 0.5rem,
  'mt-3': 0.75rem,
  'mt-4': 1rem,
  'mt-5': 1.25rem,
  'mt-6': 1.5rem,
  'mt-7': 1.75rem,
  'mt-8': 2rem,
  'mt-9': 2.25rem,
  'mt-10': 2.5rem,
  'mt-11': 2.75rem,
  'mt-12': 3rem,
  'mt-13': 3.25rem,
  'mt-14': 3.5rem,
  'mt-15': 3.75rem,
  'mt-16': 4rem,
  'mt-17': 4.25rem,
  'mt-18': 4.5rem,
  'mt-19': 4.75rem,
  'mt-20': 5rem,
);

/* margin r */
$marginR: (
  'mr-0': 0,
  'mr-1': 0.25rem,
  'mr-2': 0.5rem,
  'mr-3': 0.75rem,
  'mr-4': 1rem,
  'mr-5': 1.25rem,
  'mr-6': 1.5rem,
  'mr-7': 1.75rem,
  'mr-8': 2rem,
  'mr-9': 2.25rem,
  'mr-10': 2.5rem,
  'mr-11': 2.75rem,
  'mr-12': 3rem,
  'mr-13': 3.25rem,
  'mr-14': 3.5rem,
  'mr-15': 3.75rem,
  'mr-16': 4rem,
  'mr-17': 4.25rem,
  'mr-18': 4.5rem,
  'mr-19': 4.75rem,
  'mr-20': 5rem,
);

/* margin b */
$marginB: (
  'mb-0': 0,
  'mb-1': 0.25rem,
  'mb-2': 0.5rem,
  'mb-3': 0.75rem,
  'mb-4': 1rem,
  'mb-5': 1.25rem,
  'mb-6': 1.5rem,
  'mb-7': 1.75rem,
  'mb-8': 2rem,
  'mb-9': 2.25rem,
  'mb-10': 2.5rem,
  'mb-11': 2.75rem,
  'mb-12': 3rem,
  'mb-13': 3.25rem,
  'mb-14': 3.5rem,
  'mb-15': 3.75rem,
  'mb-16': 4rem,
  'mb-17': 4.25rem,
  'mb-18': 4.5rem,
  'mb-19': 4.75rem,
  'mb-20': 5rem,
);

/* margin l */
$marginL: (
  'ml-0': 0,
  'ml-1': 0.25rem,
  'ml-2': 0.5rem,
  'ml-3': 0.75rem,
  'ml-4': 1rem,
  'ml-5': 1.25rem,
  'ml-6': 1.5rem,
  'ml-7': 1.75rem,
  'ml-8': 2rem,
  'ml-9': 2.25rem,
  'ml-10': 2.5rem,
  'ml-11': 2.75rem,
  'ml-12': 3rem,
  'ml-13': 3.25rem,
  'ml-14': 3.5rem,
  'ml-15': 3.75rem,
  'ml-16': 4rem,
  'ml-17': 4.25rem,
  'ml-18': 4.5rem,
  'ml-19': 4.75rem,
  'ml-20': 5rem,
);
