@import './padding';
@import './margin';

/* breakpoints */
$breakpoints: (
  'xs': 280px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
) !default;

/* columns */
$columns: 12;

/* dispaly */
$display: (
  'block': block,
  'inline-block': inline-block,
  'inline': inline,
  'flex': flex,
  'inline-flex': inline-flex,
  'grid': grid,
  'hidden': none,
);

/* position */
$position: (
  'static': 'static',
  'fixed': 'fixed',
  'absolute': 'absolute',
  'relative': 'relative',
  'sticky': 'sticky',
);

/* justify content */
$justify: (
  'justify-center': 'center',
  'justify-start': 'start',
  'justify-end': 'end',
  'justify-between': 'space-between',
  'justify-around': 'space-around',
  'justify-evenly': 'space-evenly',
);

/* align items */
$items: (
  'items-center': 'center',
  'items-start': 'start',
  'items-end': 'end',
);

/* font size */
/* $font-size: (
  'font-xs': (
    'prefix': 'xs',
    'values': (
      'base': 1rem,
      'base-lg': 1.125rem,
    ),
  ),
  'font-sm': (
    'prefix': 'sm',
    'values': (
      'base': 1.5rem,
      'base-lg': 1.75rem,
    ),
  ),
  'font-md': (
    'prefix': 'md',
    'values': (
      'base': 2rem,
      'base-lg': 2.25rem,
    ),
  ),
  'font-lg': (
    'prefix': 'lg',
    'values': (
      'base': 2.625rem,
      'base-lg': 2.875rem,
    ),
  ),
  'font-xl': (
    'prefix': 'xl',
    'values': (
      'base': 3.25rem,
    ),
  ),
);*/
