/* column */
$columns: 12;

/* breakpoins */
$breakpoints: (
  'xs': 280px,
  'sm': 96%,
  'md': 94%,
  'lg': 94%,
  'xl': 1140px,
  'xxl': 1300px,
) !default;

/* breakpoints col */
$breakpoints__col: (
  'xs': 280px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
) !default;

/* color */
$primary__color: '';
$secondary__color: '';

/* color title and text */
$color-title: #1e2022;
$color-text: #677788;
