.Cover {
  position: relative;
  padding: 10rem 0;
  border-bottom-left-radius: 120px;

  &__title {
    text-align: center;
    color: #fdfffc;
    font-size: 3rem;

    @media (max-width: 768px) {
      font-size: 2rem;
      padding: 0 1rem;
    }
  }

  &__subtitle {
    text-align: center;
    color: #fdfffc;
    font-size: 1.5rem;
    margin-top: 0.5rem;

    @media (max-width: 768px) {
      font-size: 1rem;
      padding: 0 1rem;
    }
  }

  @media (max-width: 576px) {
    padding: 7.5rem 0;
  }
}
