.Cover {
  position: relative;
  padding: 10rem 0;
  border-bottom-left-radius: 120px;

  &__title {
    text-align: center;
    color: #fdfffc;
    font-size: 3rem;
  }

  &__subtitle {
    text-align: center;
    color: #fdfffc;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}
