.Footer {
  padding: 2rem 0 1rem 0;
  background-color: #f8f9fa;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__socialList {
    display: flex;
    align-items: center;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #b3beca;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 0.5rem;
      cursor: pointer;

      &:hover,
      :active {
        box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2);
        border: 1px solid #011627;
      }
    }

    .Footer__item-icon {
      color: #1e2022;
    }
  }

  &__text {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    color: #677788;
  }
}
