.HeroTpsit {
  position: relative;
  background-color: #f5f6f6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    max-width: 1548px;
    margin: 0 auto;

    .HeroTpsit__row {
      display: flex;
      flex-wrap: wrap;
      min-height: 600px;
      margin-top: 1rem;

      & > * {
        margin-top: 1.5rem;
      }

      & > *:last-child {
        display: flex;
        padding-right: 0;

        @media (max-width: 991px) {
          padding: 0;
        }
      }

      @media (max-width: 991px) {
        min-height: auto;
        justify-content: center;
      }
    }
  }

  @media (max-width: 991px) {
    padding: 3rem 3.75rem 0;
    height: auto;
  }

  @media (max-width: 991px) {
    padding: 3rem 1rem 0;
    height: auto;
  }
}
