.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.min-h-sceen {
  min-height: 100vh;
}

.min-h-full {
  min-height: 100%;
}

.max-w-full {
  max-width: 100%;
}

.max-w-screen {
  max-width: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@mixin col($gutter) {
  .col {
    margin: #{$gutter} auto;
  }
}
